In [1]:
from datetime import datetime
print(f'Päivitetty {datetime.now().date()} / Aki Taanila')

Päivitetty 2025-10-19 / Aki Taanila

# Annuiteettilainojen havainnollistaminen ja vertailu

Tässä muistiossa tarkastellaan ja vertaillaan kuukausittain lyhennettäviä annuitettilainoja.

In [2]:
# Tarvittavien pakettien ja toimintojen tuonti
import pandas as pd
from datetime import date
import annuiteetti #oletus: annuiteetti.py tallennettu samaan kansioon tämän muistion kanssa

## Lähtötiedot

Täydennä seuraavaan soluun lainan lähtötiedot:
- korkokanta desimaalimuodossa; esimerkiksi ,0245 tarkoittaa 2,45 % korkokantaa.
- aika_kuukausina: aseta laina-ajaksi 0, jos haluat laskea lainan pituuden maksuerän perusteella.
- maksuerä: aseta maksueräksi 0, jos haluat laskea lainan maksuerän lainan pituuden perusteella.

In [3]:
aloituspäivä = date(2026, 1, 1)
laina = 300000
korkokanta = .0245
aika_kuukausina = 0
maksuerä = 1500

## Lyhennystaulukko ja muut tiedot

In [4]:
# Lyhennystaulukko ja lainan yleiset tiedot lyhennystaulukko-funktiota käyttäen
taulukko, tiedot = annuiteetti.lyhennystaulukko(aloituspäivä, laina, korkokanta, aika_kuukausina, maksuerä)

In [5]:
# Lainan yleiset tiedot
tiedot

Lainan suuruus          300000
Korkokanta              0.0245
Aika kuukausina            258
Maksuerä                  1500
Korot yhteensä        85969.87
Viimeinen maksuerä      2047-6
dtype: object

In [6]:
# lyhennustaulukko
taulukko

,Periodi,Kuukausi,Laina ennen lyhennystä,Maksuerä,Korko,Lyhennys,Laina lyhennyksen jälkeen
0,1.0,2026-1,300000.00,1500.00,612.50,887.50,299112.50
1,2.0,2026-2,299112.50,1500.00,610.69,889.31,298223.19
2,3.0,2026-3,298223.19,1500.00,608.87,891.13,297332.06
3,4.0,2026-4,297332.06,1500.00,607.05,892.95,296439.11
4,5.0,2026-5,296439.11,1500.00,605.23,894.77,295544.34
...,...,...,...,...,...,...,...
254,255.0,2047-3,4947.74,1500.00,10.10,1489.90,3457.84
255,256.0,2047-4,3457.84,1500.00,7.06,1492.94,1964.90
256,257.0,2047-5,1964.90,1500.00,4.01,1495.99,468.91
257,258.0,2047-6,468.91,469.87,0.96,468.91,0.00
Yhteensä,NaN,NaN,NaN,385969.87,85969.87,300000.00,NaN

## Vertailun lähtötiedot

- aloituspäivä on sama kaikille vertailtaville lainoille.
- lainat, korkokannat, ajat_kuukausina, maksuerät: kirjoita jokaiseen yhtä monta vaihtoehtoa. Vaihtoehtoja voit kirjoittaa enemmänkin kuin kolme.
- jos ajat_kuukausina=0, niin vastaavan maksuerän täytyy olla nollaa suurempi.
- jos maksuerät=0, niin vastaavan ajat_kuukausina täytyy olla nollaa suurempi.

In [7]:
aloituspäivä = date(2026, 1, 1)
lainat = (300000, 300000, 300000)
korkokannat = (.0245, .0245, .0245)
ajat_kuukausina = (0, 0, 0)
maksuerät = (1300, 1500, 1700)

## Vertailu

In [8]:
vertailu = pd.DataFrame(columns = ['Lainan suuruus', 'Korkokanta', 'Aika kuukausina', 'Maksuerä', 
                                   'Korot yhteensä', 'Viimeinen maksuerä'])
for i in range(len(lainat)):    
    v_taulukko, v_tiedot = annuiteetti.lyhennystaulukko(aloituspäivä=aloituspäivä, laina=lainat[i], korkokanta=korkokannat[i], 
                                            aika_kuukausina=ajat_kuukausina[i], maksuerä=maksuerät[i])
    vertailu.loc[i] = v_tiedot.T
    
vertailu

,Lainan suuruus,Korkokanta,Aika kuukausina,Maksuerä,Korot yhteensä,Viimeinen maksuerä
0,300000,0.0245,313,1300,106051.04,2052-1
1,300000,0.0245,258,1500,85969.87,2047-6
2,300000,0.0245,220,1700,72364.77,2044-4