# Excel-ohjelmointi Pythonilla

In [1]:
import pandas as pd
import xlwings as xw

### Datan lataaminen Excelistä

Jos data on auki Excelin aktiivisella taulukkovälilehdellä ja datan sisältä on täsmälleen yksi solu valittuna, niin datan lataaminen dataframeen on helppoa:

In [2]:
df = xw.load()
df

,sukup,ikä,perhe,koulutus,palveluv,palkka,johto,työtov,työymp,palkkat,työteht,työterv,lomaosa,kuntosa,hieroja
nro,,,,,,,,,,,,,,,
1.0,1.0,38.0,1.0,1.0,22.0,3587.0,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN
2.0,1.0,29.0,2.0,2.0,10.0,2963.0,1.0,5.0,2.0,1.0,3.0,NaN,NaN,NaN,NaN
3.0,1.0,30.0,1.0,1.0,7.0,1989.0,3.0,4.0,1.0,1.0,3.0,1.0,NaN,NaN,NaN
4.0,1.0,36.0,2.0,1.0,14.0,2144.0,3.0,3.0,3.0,3.0,3.0,1.0,NaN,NaN,NaN
5.0,1.0,24.0,1.0,2.0,4.0,2183.0,2.0,3.0,2.0,1.0,2.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78.0,1.0,22.0,1.0,3.0,0.0,1598.0,4.0,4.0,4.0,3.0,4.0,NaN,1.0,1.0,NaN
79.0,1.0,33.0,1.0,1.0,2.0,1638.0,1.0,3.0,2.0,1.0,2.0,1.0,NaN,NaN,NaN
80.0,1.0,27.0,1.0,2.0,7.0,2612.0,3.0,4.0,3.0,3.0,3.0,1.0,NaN,1.0,NaN
81.0,1.0,35.0,2.0,2.0,16.0,2808.0,3.0,4.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN
82.0,2.0,35.0,2.0,3.0,15.0,2183.0,3.0,4.0,4.0,3.0,4.0,1.0,NaN,NaN,NaN

### Tulokset Exceliin

**xw.view** vie tulokset uuteen Excel-työkirjaan

In [3]:
tunnusluvut = df.describe()
tunnusluvut.index = ['Lukumäärä', 'Keskiarvo', 'Keskihajonta', 'Pienin', 
                     'Alaneljännes', 'Mediaani', 'Yläneljännes', 'Suurin']

xw.view(tunnusluvut, table=False)

### Tulosten muotoilu

Excelin objektihierarkian keskeisimmät osat:

Application

    Workbooks

        Workbook
    
            Sheets
            
                Worksheet
        
                    Range

Python APIn (API=Application Programming Interface) kautta voit ohjelmoida Exceliä. Opettele lukemaan APIn dokumentaatiota: https://docs.xlwings.org/en/stable/api.html

Kaikkia Excelin toimintoja ei ole toteutettu Python APIin, mutta ajan myötä niitä toteutetaan lisää. Puuttuviin toimintoihin pääset Excel APIn kautta.

Värikoodit voit antaa RGB-muodossa (red, green, blue). Värikoodeja löydät esimerkiksi sivulta https://www.rapidtables.com/web/color/RGB_Color.html

Excel APIn vakioita löydät sivulta https://github.com/xlwings/xlwings/blob/main/xlwings/constants.py

In [4]:
# Nimetään Excelin taulukkovälilehti
xw.sheets[0].name = 'Tunnusluvut'

# Asetetaan lukumuotoilu Excelin riveille 3 - 9
xw.sheets('Tunnusluvut').range('3:9').number_format = '0,00'

# Muotoillaan otsikkorivi
rng = xw.sheets('Tunnusluvut').range((1, 1), (1, tunnusluvut.shape[1]+1))
rng.font.bold = True
rng.color = (204, 229, 251)
xw.sheets('Tunnusluvut').used_range.autofit()

# Seuraaviin tarvitaan Excelin APIa

# Tasaus oikeaan reunaan
rng.api.HorizontalAlignment = -4152

# Reunaaviiva alapuolelle
rng.api.Borders(9).Weight = 2

# Tai vaihtoehtoinen pidempi, mutta joidenkin mielestä havainnollisempi tapa:
#rng.api.HorizontalAlignment = xw.constants.HAlign.xlHAlignRight
#rng.api.Borders(xw.constants.BordersIndex.xlEdgeBottom).Weight = xw.constants.BorderWeight.xlThin